.btn {
    padding: 12px 20px;
    display: block;
    //height: 40px;
    border-radius: 25px;
    background-color: #e9ecec;
    text-align: center;
    text-transform: uppercase;
    font: 12px "Poppins";
    font-weight: 700;
    color: $text-color-main;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #bbbebe;
    }
}

.btn-iner-shevron {
    margin: 0 10px;
    height: 12px;

    img {
        @include optimization_cover
    }
}