.promo {
    $maketWidth: 1440;
    $minPCWidth: 768;

    width: 100vw;
    margin-top: 120px;
    padding: 0 50px;


    &__slider {
        position: relative;

        &__slide {
            display: none;
            justify-content: end;
            column-gap: 10%;
            @include height-adaptation(400, 720, $minPCWidth, $maketWidth);

            &_current {
                display: flex;
            }

            &__ls {
                max-width: 420px;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                justify-content: space-between;
                padding-top: 30px;
                @include pading-bottom-adaptation(100, 200, $minPCWidth, $maketWidth);
            }

            &__subtitel {
                font-family: 'Poppins';
                color: $text-color-second;
                font-weight: 700;
                text-transform: uppercase;
                @include font-adaptation(9, 14, $minPCWidth, $maketWidth);
            }

            &__titel {
                font-family: 'Comfortaa';
                font-weight: 700;
                color: $main-color;
                line-height: 1.2em;
                @include font-adaptation(36, 60, $minPCWidth, $maketWidth);
            }

            &__descr {
                font-family: 'Comfortaa';
                font-weight: 400;
                line-height: 1.5em;
                color: $text-color-second;
                @include font-adaptation(12, 18, $minPCWidth, $maketWidth, );
            }

            &__characteristic {
                display: flex;
                justify-content: space-between;

                &__titel {
                    margin-bottom: 10px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    color: $text-color-second;
                    text-transform: uppercase;
                    @include font-adaptation(9, 14, $minPCWidth, $maketWidth);
                }

                &__model {
                    font-family: 'Comfortaa';
                    font-weight: 400;
                    color: $text-color-main;
                    @include font-adaptation(12, 18, $minPCWidth, $maketWidth);
                }
            }

            &__rs {
                min-width: 50%;
                background-color: #FFF7E1;
                border-radius: 30px;
                position: relative;

            }

            &__img {
                margin-top: 30px;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                left: -10%;
                top: auto;
                bottom: 0;

                @include position-bottom-adaptation(100, 200, $minPCWidth, $maketWidth);

                img {
                    @include optimization_cover;
                }
            }
        }

        &__btn {
            background: $main-color;
            font-family: "Poppins";
            font-weight: 700;
            color: #FFFFFF;
            @include font-adaptation(12, 20, $minPCWidth, $maketWidth);
            @include adaptation(height, 35, 55, $minPCWidth, $maketWidth, 0.1);
            position: absolute;
            @include adaptation(bottom, 30, 60, $minPCWidth, $maketWidth, 0.1);
        }

        &__nav-btns {
            position: absolute;
            right: calc(50% - 55px);
            display: flex;
            //column-gap: 50px;
            @include adaptation(column-gap, 50, 80, $minPCWidth, $maketWidth, 0.4);
            @include adaptation(bottom, 30, 60, $minPCWidth, $maketWidth, 0.1);
        }

        &__nav-btn {
            height: 55px;
            border-radius: 100%;
            background-color: #e9ecec;
            display: flex;
            align-items: center;
            justify-content: center;
            @include adaptation(width, 35, 55, $minPCWidth, $maketWidth, 0.35);
            @include adaptation(height, 35, 55, $minPCWidth, $maketWidth, 0.35);

            img {
                height: 40%;
            }
        }

        &__counter {
            font-family: "Poppins";
            @include font-adaptation(12, 20, $minPCWidth, $maketWidth);
            color: $main-color;
            display: flex;
            align-items: center;
            column-gap: 10px;
            position: absolute;
            @include adaptation(bottom, 30, 60, $minPCWidth, $maketWidth, 0.1);
            @include adaptation(left, 480, 1480, $minPCWidth, 2560, 0.1);
            @include adaptation(height, 35, 55, $minPCWidth, $maketWidth, 0.1);

        }
    }
}